*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainpage{
  position: relative;
  width: 100%;
  min-height:82vh;
  /* background-color: lightgray; */
  /* margin: 0; */
  padding:0px 10px;
}
